<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Probando_Mates.Properties.Settings.conne" connectionString="Data Source=DESKTOP-LVOUQI7;Initial Catalog=PruebaMates;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>